---
title: Activecell - The small business management platform
---

<section id="intro">
  <div class="row">
    <h1>The small business management platform.</h1>
    <div class="small-10 small-centered columns">
      <img src="/images/intro/screenshot_01.png" alt="Application screenshot">
    </div>
  </div>
</section><!-- end #intro -->

<section id="get-started">
  <div class="row">
    <div class="small-4 small-centered columns">
      <a href="https://launchpad.activecell.com/users/sign_up" 
        class="button success radius expand start_now">
        Get started
        <img src="/images/buttons/start_now_finger.png" alt="Strt now">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered columns">
      <h1>As seen on</h1>
      <img src="/images/backgrounds/logos_as_seen_on.png" alt="As seen on">
    </div>
  </div>
</section><!-- end #get-started -->

<!-- 
<section id="insights">
  <div class="row">
    <h1>Insights</h1>
  </div>
</section>end #insights -->

<section id="features">
  <div class="row">
    <h1>Features</h1>
  </div>
</section><!-- end #features -->

<section id="pricing">
  <h1>Pricing</h1>
  <div class="row">
    <div class="small-12 large-4 columns">
      <div class="subscribe-plan monthly">
        <header>
          <h1>Monthly</h1>
          <h2>one step at a time</h2>
        </header>
        <div class="price">
          <div class="ribbon red">
            <a href="#" title="Join">Join</a>
          </div>
          <span class="value">
            <small><del>$49<sup>99</sup></del></small>
            $10<sup>00</sup>
          </span>
          <span class="time-period">lifetime for beta users</span>
        </div>
        <ul class="plan-items">
          <li><i class="icon-small-get-from-cloud"><!-- --></i> real time data integration</li>
          <li><i class="icon-small-line-chart"><!-- --></i> world class analytics</li>
          <li><i class="icon-small-businessman"><!-- --></i> powerful planning tools</li>
          <li><i class="icon-small-security"><!-- --></i> proven data security</li>
        </ul>
        <p class="plan-footer">
          monthly plans allow you to get started with activecell one step at
          a time before making a commitment to a longer-term arrangement.
        </p>
        <div class="info-control">
          <a class="small button radius" href="#learn-more-modal">
            free 30 day trial
          </a>
        </div>
      </div><!-- end .monthly -->
    </div>

    <div class="small-12 large-4 columns">
      <div class="subscribe-plan annual">
        <header>
          <h1>Annual</h1>
          <h2>get to work</h2>
        </header>
        <div class="price">
          <div class="ribbon">
            <a href="#" title="Join">Join</a>
          </div>
          <span class="value">
            $499<sup>99</sup>
          </span>
          <span class="time-period">yearly</span>
        </div>
        <ul class="plan-items">
          <li><i class="icon-small-arrow-circle-left"><!-- --></i> everything from monthly</li>
          <li><i class="icon-small-fire"><!-- --></i> initial setup consultation</li>
          <li><i class="icon-small-heart"><!-- --></i> 24/7 tech support</li>
          <li><i class="icon-small-building"><!-- --></i> custom branding</li>
        </ul>
        <p class="plan-footer">
          annual plans save you some cash and get you a little extra love (!).
          <br>
          let us know what you need and we can always get it done.
        </p>
        <div class="info-control">
          <a class="small button radius" href="#learn-more-modal">
            free 30 day trial
          </a>
        </div>
      </div><!-- end .annual -->
     </div>

     <div class="small-12 large-4 columns">
      <div class="subscribe-plan advisor">
        <header>
          <h1>Advisor</h1>
          <h2>activecell for your clients</h2>
        </header>
        <div class="price">
          <div class="ribbon green">
            <a href="#" title="Join">Join</a>
          </div>
          <span class="value">
            <small><del>$1499<sup>99</sup></del></small>
            $14<sup>99</sup>
          </span>
          <span class="time-period">per client yearly</span>
        </div>
        <ul class="plan-items">
          <li><i class="icon-small-arrow-circle-left"><!-- --></i> everything from annual</li>
          <li><i class="icon-small-globe2"><!-- --></i> centralized administration</li>
          <li><i class="icon-small-plastic-card"><!-- --></i> centralized billing</li>
          <li><i class="icon-small-star"><!-- --></i> private label experience</li>
        </ul>
        <p class="plan-footer">
          offer activecell for your clients with a fully-branded private label 
          experience, and your copy is free once you have 10 clients on board!
        </p>
        <div class="info-control">
          <a class="small button radius" href="#learn-more-modal" data-toggle="modal">
            free 30 day trial
          </a>
        </div>
      </div><!-- end .advisor -->
    </div>
  </div>
  <div class="row">
    <div class="small-10 large-7 small-centered column">
      <p>
        <a href="#learn-more-modal" class="small button">Start using Activecell</a>
        now with a free 30 day trial. No credit card required!
      </p>
    </div>
  </div>
</section><!-- end #pricing -->

<section id="experts">
  <div class="row">
    <h1>Experts</h1>
    <div class="hide-for-small large-4 columns">
      <img class="made-in" src="/images/ac_stamp.png" alt="Activecell Certified">
    </div>
    <div class="company small-12 large-8 columns">
      <h2>A network of professionals to help you succeed</h2>
      <p>
        We like to think our software is pretty useful, but it's only
        part of the process. If you want to take your business to the
        next level, these professionals are here to help you with
        everything from business coaching and planning to bookkeeping
        and 409(a) valuations. Oh, and they all know a thing or two
        about Activecell, as well. I am sure they could help you get
        up and running!
      </p>

      <h3>Featured experts</h3>

      <div class="section-container auto" data-section="tabs">
        <div class="section">
          <a href="#jason-hill" class="title">
            <img src="/images/avatars/jason.png" alt="Jason Hill">
          </a>
          <div id="jason-hill" class="content">
            <h4>
              Jason Hill <small>Founding Partner | Sound Advice Consulting Services</small>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Home Page">z</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="LinkedIn">l</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Twitter">t</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Facebook">f</a></span>
            </h4>
            <p>
              Jason M. Hill is the founding President of Sound Advice
              Consulting. A highly motivated and dedicated individual,
              Mr. Hill has spent the past decade working successfully
              in the staffing industry, placing professionals in positions
              ranging from entry-level to executive management.
            </p>
            <p>Prior to Sound Advice, Mr. Hill consulted with IBM, created
              a successful boutique staffing firm and was a top performer
              for both Hudson Global Resources and Modis.
            </p>
          </div>
        </div>

        <div class="section">
          <a href="#ean-hill" class="title">
            <img src="/images/avatars/ean.png" alt="Ean Murphy">
          </a>
          <div id="ean-murphy" class="content">
            <h4>
              Ean Murphy <small>Founder | Moxie Bookkeeping</small>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Home Page">z</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="LinkedIn">l</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Twitter">t</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Facebook">f</a></span>
            </h4>
            <p>
              Moxie Bookkeeping can help you manage your business,
              avoid tax preparation headaches, uncover hidden streams
              of revenue, and generally make running a business a lot
              less stressful. You can relax knowing you are well
              prepared for the future.
            </p>
            <p>
              With our different service levels, there is always an
              expert to go to if you have a question – without having
              to pay an expert's rate for basic data entry tasks.
            </p>
          </div>
        </div>

        <div class="section">
          <a href="#diego-alvarez" class="title">
            <img src="/images/avatars/diego.png" alt="Diego Alvarez">
          </a>
          <div id="diego-alvarez" class="content">
            <h4>
              Diego Alvarez <small>Founder and Visionary | Virtualis Bookkeeping</small>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Home Page">z</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="LinkedIn">l</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Twitter">t</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Facebook">f</a></span>
            </h4>
            <p>
              As a small business owner himself, Diego Alvarez always
              longed to have a profitable business without all the
              associated bookkeeping and accounting headaches. He knows
              that, “How well you manage the finances of your business,
              its cash flow and profitability is the cornerstone of every
              successful business operation. Each year, thousands of
              potentially successful businesses fail because of poor
              financial management.”
            </p>
            <p>
              For four years, Virtualis, with its dynamic professional
              alliances, has saved Virtualis’ clients time and money,
              giving his small businesses a competitive edge and increasing
              their profit margins. And now he wants to share his vision
              with you so your business can gain the same advantages.
            </p>
          </div>
        </div>

        <div class="section">
          <a href="#robert-s-king" class="title">
            <img src="/images/avatars/BradPitt.jpg" alt="Robert S. King">
          </a>
          <div id="robert-s-king" class="content">
            <h4>
              Robert S. King <small>Partner | Five Prime Advisors</small>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Home Page">z</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="LinkedIn">l</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Twitter">t</a></span>
              <span class="glyph"><a rel="tooltip" href="javascript:;" data-original-title="Facebook">f</a></span>
            </h4>
            <p>
              Mr. King has spent nearly 25 years providing financial and
              strategic advice to hundreds of U.S. and European corporations,
              private equity buyers, and entrepreneurs. For most of his
              career, he has focused on the manufacturing services, medical
              technology, device and therapeutics industries. Mr. King has
              completed approximately 150 advisory mandates, financings,
              investments, valuations, and fairness opinions. He has held
              senior positions at several U.S. and European investment banks.
            </p>
          </div>
        </div>

        <div class="section">
          <a href="#adam-neary" class="title">
            <img src="/images/avatars/adam.jpg" alt="Adam Neary">
          </a>
          <div id="adam-neary" class="content">
            <h4>
              Adam Neary <small>Founder &amp; CEO | Activecell</small>
              <span class="glyph">
                <a rel="tooltip" href="http://www.adamrneary.com/" data-original-title="Home Page">z</a>
              </span>
              <span class="glyph">
                <a rel="tooltip" href="http://www.linkedin.com/in/adamrneary" data-original-title="LinkedIn">l</a>
                </span>
              <span class="glyph">
                <a rel="tooltip" href="https://github.com/adamrneary" data-original-title="Github">G</a>
              </span>
              <span class="glyph">
                <a rel="tooltip" href="http://twitter.com/adamrneary" data-original-title="Twitter">t</a>
              </span>
            </h4>
            <p>
              Adam is the Founder &amp; CEO of Profitably, Inc., the
              company that makes Activecell, the small business management
              platform. With Activecell, a small business owner can
              quickly and easily build a dynamic financial plan that
              connects to their accounting data for historical analysis.
            </p>
            <p>
              Adam began building Activecell after nearly a decade
              consulting with Fortune 500 CFOs to drive growth and
              improve profitability. "Most of the time," says Neary,
              "it was just a matter of visibility. Sometimes the simplest
              questions proved toughest to answer. But once you have
              the data to see what's going on clearly, the right path
              is often obvious."
            </p>
          </div>
        </div>
        <div class="section">
          <a href="#adam-neary" class="title">
            <img src="/images/avatars/hiring.png" alt="Get involved!">
          </a>
        </div>
      </div>
    </div><!-- end .company -->
  </div>
  <div class="row">
    <div class="small-12 large-12 column">
      <p>
        <a href="experts/all.html">
          More in our <span>Expert Network</span> <span class="glyph">j</span>
        </a>
      </p>
    </div>
  </div>
</section><!-- end #experts -->

<section id="activecell-method">
  <h1>Activecell method</h1>
  <div class="row">
    <div class="small-12 large-10 column">
      <ol class="post-list">
        <% blog.tags["activecell method"][0...5].each do |article| %>
          <li class="row">
            <div class="small-12 large-1 column">
              <span class="date">
                <span class="day"><%= article.date.strftime('%e') %></span>
                <span class="month"><%= article.date.strftime('%b') %></span>
              </span>
            </div>
            <article class="small-12 large-11 column">
              <h1><%= link_to article.title, article %> ~ <small><%= article.data.author %></small></h1>
              <%= article.summary %>
              <p class="tags">
                <% article.data.tags.each do |t| %>
                  <%= link_to t, tag_path(t) %>
                <% end %>
              </p>
            </article>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="small-12 large-2 column">
      <h2>Tags</h2>
      <p class="tags">
        <% blog.tags.each do |tag, articles| %>
          <%= link_to tag, tag_path(tag) %>
        <% end %>
      </p>

      <h2>By Year</h2>
      <p class="tags">
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <%= link_to year, blog_year_path(year) %>
        <% end %>
      </p>
    </div>
  </div>
</section><!-- end #activecell-method -->